<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Avery16282Generator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Avery16282Generator.Settings>
            <setting name="BlackList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Dominion 2nd Edition</string>
                        <string>Intrigue 2nd Edition</string>
                        <string>Animals</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WhiteList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Dominion 2nd Edition Upgrade</string>
                        <string>Intrigue 2nd Edition Upgrade</string>
                        <string>Nocturne</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BannedKeywords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Extras</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseWhiteList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseBlackList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBannedKeywords" serializeAs="String">
                <value>True</value>
            </setting>
        </Avery16282Generator.Settings>
    </userSettings>
</configuration>